<!DOCTYPE html>
<html lang="en">
	
<head>
		<title>Hey Karaoke</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--====>> Favicon icon CSS <<====-->
		<link rel="shortcut icon" href="favicon.png">

		<!-- Fontawesome -->
		<link rel="stylesheet" href="css/all.css" />

		<!--====>> Google fonts <<====-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;display=swap" rel="stylesheet">

	  	<link href="vendor/fancybox/dist/jquery.fancybox.min.css" type="text/css" rel="stylesheet" />
        <!--====>> Index CSS <<====-->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> -->
		<link href="css/index2.css" type="text/css" rel="stylesheet" />
		<link href="css/custom.css" type="text/css" rel="stylesheet" />
	</head>
	<body class="home-page  background">
		<div class="preloader">
			<div class="loader-container">
				<div class="rectangle-1">&nbsp;</div>
				<div class="rectangle-2">&nbsp;</div>
				<div class="rectangle-3">&nbsp;</div>
				<div class="rectangle-4">&nbsp;</div>
				<div class="rectangle-5">&nbsp;</div>
				<div class="rectangle-6">&nbsp;</div>
				<div class="rectangle-5">&nbsp;</div>
				<div class="rectangle-4">&nbsp;</div>
				<div class="rectangle-3">&nbsp;</div>
				<div class="rectangle-2">&nbsp;</div>
				<div class="rectangle-1">&nbsp;</div>
			</div>
		</div>

		<!-- Begin main-slider -->
		<div class="main-slider-wrap">
			<div class="container ">
                <div class="row">
                  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                      <div class="card-body">
						<h5 class="card-title text-center">Logo</h5>
						<label class="d-flex justify-content-center links mb-3" >Para continuar, inicia sesión en Hey Karaoke.
						</label> 
                        <form class="form-signin">
                          <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputEmail">Usuario</label>
                          </div>
            
                          <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                          </div>
            
                          <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Recuerdamé</label>
                          </div>
						  <button class="btn button btn-lg btn-primary btn-block text-uppercase" type="submit">INICIAR SESIÓN</button>
						  
						  <a href="#" class="d-flex justify-content-center links mt-2" >¿Se te ha olvidado la contraseña?</a> 
						  <hr class="my-4">
                          <button class="btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> INICIAR CON Google</button>
                          <button class="btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> INICIAR CON Facebook</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
		</div>
		<!-- End main-slider -->
		<!-- <main class="pt-xs-25 pt-md-25 pt-lg-60 pb-xs-25 pb-md-25 pb-lg-60"> -->
		<main class="pt-xs-25 pt-md-25 pt-lg-60">
			
		</main>
		<!-- ===> Juery 3.2.1 JS <==== -->
		<script src="js/jquery.min.js"></script>

		<!-- ===> Juery UI 1.12.1 JS <==== -->
		<script src="js/jquery-ui.js"></script>

		<!-- ===> Bootstrap 4 JS <==== -->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

		<!-- ===> Lazy loader JS <==== -->
		<script src="vendor/lazy-load/jquery.lazy.min.js"></script>

		<!-- ===> Slick slider JS <==== -->
		<script src="vendor/slick/slick/slick.min.js"></script>

		<!-- ===> Paroller JS <==== -->
		<script src="vendor/paroller/dist/jquery.paroller.min.js"></script>

		<!-- ===> scrollbar JS <==== -->
		<script src="vendor/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- ===> Tilt JS <==== -->
		<script src="vendor/tilt/tilt.jquery.js"></script>

		<!-- ===> Fancybox JS <==== -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>

		<!-- ===> Input mask JS <==== -->
		<script src="vendor/input-mask/jquery.mask.min.js"></script>

		<!-- Data picker -->
		<script src="vendor/bootstrap-datetimepicker/moment.js"></script>
		<script src="vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>

		<!-- Masonry JS -->
		<script src="js/masonry.pkgd.min.js"></script>

		<!-- Images loader -->
		<script src="js/imagesloaded.min.js"></script>
		<script src="vendor/shuffle/isotope.js"></script>

		<!-- Form validator -->
		<script src="vendor/form-validation/jquery.form.js"></script>
		<script src="vendor/form-validation/jquery.validate.min.js"></script>

		<!-- ===> noUiSlider JS <==== -->
		<!-- <script src="vendor/touchpunch/touchpunch.js"></script> -->
		<script src="vendor/noUiSlider/nouislider.min.js"></script>
		<script src="vendor/wnumb/wNumb.js"></script>

		<!-- ===> Player JS <==== -->
		<script src="vendor/awp-player/wavesurfer.min.js"></script>
		<script src="vendor/awp-player/jsmediatags.min.js"></script>
		<script src="vendor/awp-player/new_cb.js"></script>
		<script src="vendor/awp-player/new.js"></script>
		<script src="vendor/instafeed/instafeed.min.js"></script>


		<!-- ===> Common JS <==== -->
		<script src="js/common.js"></script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuHS2And3EtzpWBoMSqCIIiJzAEynp5ms&amp;callback=initMap" async defer></script>
	</body>
</html>